<html>
    <head>
        <title>
            Form
        </title>
        <meta name="viewport"
        content=
        "width=device-width, initial-scale=1.0" />
        <link href=
"https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet" />

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet"
              href=
"https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
        <script type="text/javascript"
                src=
     "https://code.jquery.com/jquery-2.1.1.min.js">
      </script>
        <script src=
"https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
      .maincontainer{
          display: flex;
          justify-content: center;
          align-items: center;
          background:#30336b;

      }
      .root{
        width: 1000px;
        background:#fff;
        padding: 10px;
        margin:50px;
      }
      .heading{
        color:#4834d4;
        font-size: 32px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        padding: 5px;
      }
      .rowgap{
      margin-top: 40px;}

      </style>

      <script>
            $(document).ready(function () {
                $("select").material_select();
            });
        </script>
        <script>
          $(document).ready(function(){
            $('.timepicker').timepicker();
          });
      </script>
    </head>
    <body>
      <div class="maincontainer">
        <div class="root" >
        <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="heading">Flight Enquiry System</div>
                <hr>
                <div class="input-field col s12">
                  <i class="material-icons prefix">flight</i>
                  <input id="icon_prefix" type="text" class="validate">
                  <label for="icon_prefix">Flight Id</label>
                </div>
                <div class="input-field col s12">
                  <i class="material-icons prefix">business</i>
                  <input id="icon_company" type="text" class="validate">
                  <label for="icon_company">Company Name</label>
                </div>
                <div class="input-field col s6">
                  <i class="material-icons prefix">location_city</i>
                  <input id="icon_state" type="text" class="validate">
                  <label for="icon_state">Source State</label>
                </div>
                <div class="input-field col s6">
                  <i class="material-icons prefix">flight_takeoff</i>
                  <input id="icon_city" type="text" class="validate">
                  <label for="icon_city">Source City</label>
                </div>
                <div class="input-field col s6">
                  <i class="material-icons prefix">location_city</i>
                  <input id="icon_source" type="text" class="validate">
                  <label for="icon_source">Destination State</label>
                </div>
                <div class="input-field col s6">
                  <i class="material-icons prefix">flight_land</i>
                  <input id="icon_destination" type="text" class="validate">
                  <label for="icon_destination">Destination City</label>
                </div>
                <div class="input-field col s6">
                  <select>
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                  </select>
                  <label>Materialize Select</label>
                </div>
                <div class="input-field col s3">
                <p>
                  <label>
                    <input type="checkbox" />
                    <span>Economy</span>
                  </label>
                </p>
                </div>
                <div class="input-field col s3"></div>
                  <p>
                    <label>
                      <input type="checkbox" />
                      <span>Business</span>
                    </label>
                  </p>
                  </div>
                <div class="input-field col s12">
                  <div style="display:flex;flex-direction: row;justify-content: space-between;" >
                    <p>
                      <label>
                        <input type="checkbox" />
                        <span>Monday</span>
                      </label>
                    </p>
                    <p>
                      <label>
                        <input type="checkbox" />
                        <span>Tuesday</span>
                      </label>
                    </p>
                    <p>
                      <label>
                        <input type="checkbox" />
                        <span>Wednesday</span>
                      </label>
                    </p>
                    <p>
                      <label>
                        <input type="checkbox" />
                        <span>Thursday</span>
                      </label>
                    </p>
                    <p>
                      <label>
                        <input type="checkbox" />
                        <span>Friday</span>
                      </label>
                    </p>
                    <p>
                      <label>
                        <input type="checkbox" />
                        <span>Suturday</span>
                      </label>
                    </p>
                    <p>
                      <label>
                        <input type="checkbox" />
                        <span>Sunday</span>
                      </label>
                    </p>
                  </div>
                </div>
                <div class="input-field col s6">
                  <p>
                    <label>
                      <span>Source Departure Time</span>
                      <input type="text" class="timepicker">
                    </label>
                  </p>
                </div>
                <div class="input-field col s6">
                  <p>
                    <label>
                      <span>Destination Arrival Time</span>
                      <input type="text" class="timepicker">
                    </label>
                  </p>
                </div>
                <div class="input-field col s12">
                  <div class="file-field input-field">
                    <div class="btn">
                      <span>File</span>
                      <input type="file" >
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path  validate" type="text">
                    </div>
                  </div>
                </div>
                <div class="input-field col s6">
                  <button class="btn waves-effect blue accent-3 waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">check</i>
                  </button>
                </div>
                <div class="input-field col s6">
                  <button class="btn waves-effect pink  waves-light" type="submit" name="action">Clear
                    <i class="material-icons right">clear_all</i>
                  </button>
                </div>
              </div>
            </form>
          </div>
          <!--JavaScript at end of body for optimized loading-->
          <script src=
"https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js">
        </script>
    </body>
</html>
