<!DOCTYPE html>
<html lang="en">
<style type="text/css">
   .droot{
        width:100%;

        background:#f5f6fa;
        justify-content: center;
        display:flex;
        align-items: center
   }
    .dsubdiv{

        width:700px;
        height: auto;
        background: #7f8fa6;
        padding: 15px;
        border-radius: 10px;

    }
    .dhead{
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 2px;
        color:#000;
        display: flex;
        align-items: center;

   }
    .root{
        width:100%;
        height:100vh;
        background:#f5f6fa;
        justify-content: center;
        display:flex;
        align-items: center
   }
    .subdiv{

        width:1100px;
        height: auto;
        background: #7f8fa6;
        padding: 15px;
        border-radius: 10px;

    }
    .head{
        font-size: 32px;
        font-weight: bold;
        letter-spacing: 2px;
        color:#FFF;
        display: flex;
        align-items: center;

   }
   .tbtexthead{
       color: #FFFFFF;
       font-weight: bolder;
       font-size: 24px;
   }
   .tbtext{
       color: #FFFFFF;
       font-weight: bold;
       font-size: 18px;
      }



</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Specialization</title>
    <!-- Font Awesome -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
    />
    <!-- MDB -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.css"
            rel="stylesheet"
    />
    <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.js"
    ></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
<div class="root">
    <div class="subdiv">
        <div class="head">
            List Specialization
        </div>
        <table class="table align-middle">
            <thead class="tbtexthead">
            <tr>

                <th scope="col">ID</th>
                <th scope="col">Category</th>
                <th scope="col">Icon</th>
                <th scope="col">Update</th>
            </tr>
            </thead>
            <tbody class="tbtext">

            {% for row in result %}
            <tr>
                <th scope="row">{{row.specializationid}}</th>
                <td>{{ row.specialization }}</td>
                <td>
                    <button type="button" specializationid={{ row.specializationid }} iconspl={{row.icon }}
                            class="btnicon btn-light btn-sm px-3" data-mdb-target="#iconModal">
                        <i class="fas fa-edit"></i>
                        <img
                                src="/static/{{ row.icon }}"
                                data-mdb-target="#iconModal"
                                class="img-fluid rounded"
                                style="width: 70px"
                        />
                    </button>
                </td>
                <td>
                    <button type="button" specializationid={{ row.specializationid }}
                            specialization={{row.specialization }}
                            class="btn btn-light btn-sm px-3" data-mdb-toggle="modal"
                            data-mdb-target="#exampleModal">
                        <i class="fas fa-edit"></i>
                    </button>

                </td>
            </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>
</div>
<!-- Dialog-->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title dhead" id="exampleModalLabel">
                    <span><img src="/static/logo1.png" width="60"></span>
                    <span style="padding-left: 5px">Specialization Register</span>
                </div>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="droot">
                    <div class="dsubdiv">

                        <div class="row" style="margin-top :10px">
                            <div class="col-12">
                                <div class="form-outline form-white">
                                    <input type="text" name="specializationid" id="splid"
                                           class="form-control form-control-lg"/>
                                    <label class="form-label" for="splid">Specialization I'D</label>
                                </div>
                            </div>
                            <div class="row" style="margin-top :10px">
                                <div class="col-12">
                                    <div class="form-outline form-white">
                                        <input type="text" name="specialization" id="spl"
                                               class="form-control form-control-lg"/>
                                        <label class="form-label" for="spl">Category Specialization</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top :10px">
                            <div class="col-6">
                                <button type="button" style="width:100%" class="updbtn btn-light btn-lg"
                                        data-mdb-ripple-color="dark">Update
                                </button>
                            </div>
                            <div class="col-6">
                                <button type="button" style="width:100%" class="delbtn btn-light btn-lg"
                                        data-mdb-ripple-color="dark">Delete
                                </button>
                            </div>

                        </div>
                        <div class="row" style="margin-top :10px">
                            <div style="text-align:center; color:#FFF; font-size:18px" id="msg" class="col-12">

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

<!-- Dialog-->
<!-- Modal -->
<div class="modal fade" id="iconModal" tabindex="-1" aria-labelledby="iconModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title dhead" id="iconModalLabel">
                    <span><img src="/static/logo1.png" width="60"></span>
                    <span style="padding-left: 5px">Specialization Register</span>
                </div>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"
                 style="justify-content: center; display:flex; align-items: center; flex-direction:column;">
                <img src="" id="splicon" class="rounded-3" style="width: 250px;" alt="Avatar"/>
                <div class="row" style="margin-top :10px">
                    <div class="col-12">
                        <input name="icon" class="form-control form-white form-control-lg" id="formFileLg" type="file"/>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
$('.btn').click(function(){

$('#exampleModal').modal('show');
$('#spl').val($(this).attr('specialization'))
$('#splid').val($(this).attr('specializationid'))
})
$('.updbtn').click(function(){

$.getJSON('/updatespecialization',{'specializationid':$('#splid').val(),'specialization':$('#spl').val()},function(data)
{
       if (data.result)
         { $('#msg').html("Record Updated Successfully") }
       else
         { $('#msg').html("Something went wrong") }
})

})
$('.delbtn').click(function(){

$.getJSON('/deletespecialization',{'specializationid':$('#splid').val()},function(data)
{
       if (data.result)
         { $('#msg').html("Record Deleted Successfully") }
       else
         { $('#msg').html("Something went wrong") }
})

})

$('.btn-close').click(function(){
     Location.href="http://localhost:8000/specializationDisplayAll"
})

$('.btnicon').click(function(){
     $('#exampleModal').modal('hide');
     $('#iconModal').modal('show');
     $('#splicon').attr('src','/static/'+$(this).attr('iconspl'))

})




</script>

</body>
<!-- MDB -->
<script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.js"
></script>

</html>
